#header
{
    display: grid;
    grid-template-columns: 2fr 5fr; /*To position the header img and header */
    background-color: rgb(13, 5, 58);
    color: rgb(177, 19, 8);
}

#image
{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 3px solid rgb(177, 19, 8);
}

#name
{
    letter-spacing: 0.5em;
    margin-top: 20px;
}

#desig
{
    letter-spacing: 0.2em;
    margin-top: 30px;
}

#line
{
    width: 350px;
    height: 7px;
    background:  rgb(177, 19, 8);
    margin-top: 10px;
}

#wrapper
{
    padding: 0px;
}

#edu
{
    background:rgb(22, 11, 85);
    padding: 10px;
    color:  rgb(177, 19, 8);
    font-weight: bold;
}

#edu1
{
    text-align: justify;
    margin-left: 0px;
    color:  rgb(177, 19, 8);
}

#proj
{
    background:  rgb(22, 11, 85);
    padding: 10px;
    color: rgb(177, 19, 8);
    font-weight: bold;
}

#proj1
{
    text-align: justify;
    margin-left: 0px;
    color:  rgb(177, 19, 8);
}


#hobb
{
    background:  rgb(22, 11, 85);
    padding: 10px;
    color: rgb(177, 19, 8);
    font-weight: bold;
    
}

#hobb1
{
    margin-left: 0px;
    color:  rgb(177, 19, 8);
}


#aw
{
    background: rgb(22, 11, 85);
    padding: 10px;
    color: rgb(177, 19, 8);
    font-weight: bold;
}

#aw1
{
    text-align: justify;
    margin-left: 0px;
    color:  rgb(177, 19, 8);
}


#sk
{
    background: rgb(22, 11, 85);
    padding: 10px;
    color: rgb(177, 19, 8);
    font-weight: bold;
}

#sk1
{
    text-align: justify;
    margin-left: 0px;
    color:  rgb(177, 19, 8);
}

#cont
{
    background: rgb(22, 11, 85);
    padding: 10px;
    color: rgb(177, 19, 8);
    font-weight: bold;
}

#cont1
{
    text-align: justify;
    margin-left: 0px;
    color:  rgb(177, 19, 8);
}


#lang
{
    background: rgb(22, 11, 85);
    padding: 10px;
    color: rgb(177, 19, 8);
    font-weight: bold;
}

#lang1
{
    text-align: justify;
    margin-left: 0px;
    color:  rgb(177, 19, 8);
}

#toggleButton
{
    font-size: 0.8em;
}

.flex
{
    display: flex;
}

button{
    
    background: rgb(177, 19, 8);
    height: 40px;
    width: 50px;
}
/*#button-align
{
    display: grid;
    
}*/


/*#education-hobbies
{
    display: grid;
    grid-template-columns: 6.5fr 1.8fr; 
}

#right                                            was used for hobbies
{
padding: 0;
margin: 0;
text-align: right;
}*/


